body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
      to right,
      #ff8177 0%,
      #ff867a 0%,
      #ff8c7f 21%,
      #f99185 52%,
      #cf556c 78%,
      #b12a5b 100%
    );
    color: black;
  }
  
  .unit_container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    box-shadow: 0 0 10px rgb(202, 200, 200);
  }
  
  .navbar {
    display: flex;
    padding: 15px 25px 15px 25px;
    box-shadow: 0 0 5px rgb(202, 200, 200);
  }
  
  .convesion{
    font-size: 2em;
    margin-left: 50px;
    font-weight: 600;
  }
  
  .convesion{
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .links a {
    color:black;
    margin: 10px 10px 10px 10px;
    font-weight: 600;
    font-size: 1rem;
    padding: 20px 20px;
    text-align: left;
  }
  
  a:hover {
    color: #1a0e9a !important;
    border-radius: 50px;
    border-color: #1a0e9a !important;
    transition: all 0.3s ease 0s;
    background-color: gray;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgb(202, 200, 200);
  }
  
  .input,
  .unit1 {
    margin-bottom: 20px;
  }
  
  .input label,
  .unit1 label {
    font-weight: bold;
  }
  
  .input input[type="number"],
  .unit1 select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .reset-btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    transform: rotate(90deg);
    margin-bottom: -15px;
  }
  
  #shuffle {
    padding: 10px 15px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #calculate-ans{
    text-align: center;
    font-size: 23px;
    margin-top: 10px;
    font-weight: 600;
  }
  
  .last-call {
    text-align: center;
  }
  
  @media (max-width: 600px) {
    body {
      overflow-x: hidden;
    }
    .navbar {
      padding: 10px;
    }
  
    ._ {
      margin: 50px 10px; /* Adjust margin to move container to the left */
    }
  
    .convesion{
      margin-left: 10px; /* Adjust margin to move element to the left */
      font-size: 1.5em;
    }
  
    .links a {
      font-size: 0.9em;
      margin: 10px 0;
      padding: 0px 10px;
    }
  }
  
